[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camelcase = "*"
pillow = "*"
django = "==2.1"
django-filter = "*"
asgiref = "==3.2.10"
sqlparse = "==0.2.2"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
